.hide {
  display: none;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid white;
  border-radius: 6px;
}

/* .card front { */

.card .front {
  /* moves the front out and shows the back */
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  position: absolute;
}

/* .card .back { */

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  filter: brightness(0.8);
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.front-div {
  display: relative;
}

.front-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
